{% extends 'mail/base.html' %}
{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Сервис рассылок</h1>
        <p class="lead font-weight-normal">Здесь вы можете создать, подписаться и управлять своими рассылками!</p>
        <a class="btn btn-outline-secondary" href="{% url 'newsletter_create' %}">Создать</a>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>
<div class="card-list">
    {% for newsletter in newsletter_list %}
    <div class="card-item">
        <div class="card-body">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h2 class="display-5">{{ newsletter.scheduled_time }}</h2>
                    <p class="lead">{{ newsletter.frequency }}</p>
                    <a class="btn btn-outline-secondary" href="{% url 'newsletter' newsletter.pk %}">Перейти</a>
                    <a class="btn btn-outline-warning" href="{% url 'newsletter_update' newsletter.pk %}">Изменить</a>
                    <a class="btn btn-outline-danger" href="{% url 'newsletter_delete' newsletter.pk %}">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}